@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


/* Reproductor de Video */
.galleria{
    max-width: 700px;
    height: 450px;
    margin-top: 50px;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 1em 1em 2em #242424, -1em -1em 2em #3c3c3c, inset 0 0 0 transparent, inset 0 0 0 transparent;

    
    }






/* menu */
#menu--toggle[type=checkbox]:not(:checked),
#menu--toggle[type=checkbox]:checked {
display: none;
}

.menu--toggle__trigger,
.menu--toggle__burger,
.menu--toggle__burger:before,
.menu--toggle__burger:after {
position: absolute;
top: 1.6em;
left: 1.6em;
width: 2em;
height: 5px;
background-color: #282828;
border-radius: 2px;
cursor: pointer;
z-index: 100;
transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu--toggle__trigger {
height: 2em;
background: none;
}

.menu--toggle__burger:before {
content: "";
top: 10px;
left: 0;
}
.menu--toggle__burger:after {
content: "";
top: 20px;
left: 0;
}


/* fondo del menu */
.menu__body {
position: absolute;
width: 5em;
height: 5em;
margin: 0;
padding: 0;
background-color: #fcfcfc;
border-bottom-right-radius: 100%;
box-shadow: 3px 3px 7px rgba(40, 40, 40, 0.2);
z-index: 10;
-webkit-animation: checkboxUncheckedAnimation 0.35s both;
animation: checkboxUncheckedAnimation 0.35s both;
}

.menu__body-element,
.menu__body-link {
display: none;
margin: 4.4em 0 -3.3em -0.1em;
font-weight: normal;
color: #282828;
text-decoration: none;
text-transform: none;
list-style: none;
outline: 0;
font-size: 30px;
}

.menu__body-element {
text-indent: 2em;
}

/* resaltar opciones del menu */
.menu__body-link:hover {
color:#22f606;
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger {
top: 35px;
transform: rotate(405deg);
transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:before {
top: 0;
transform: rotate(-90deg);
transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:after {
top: 0;
transform: rotate(90deg);
transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger + .menu__body {
-webkit-animation: checkboxCheckedAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
animation: checkboxCheckedAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

#menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element, #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
display: block;
}


/* posicion del menu */
.promotion {
width: 100vw;
height: 100vh;
max-height: 0px;
}




@-webkit-keyframes checkboxCheckedAnimation {
50% {
    width: 100vw;
    height: 100vh;
}
100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
}
}

@keyframes checkboxCheckedAnimation {
50% {
    width: 100vw;
    height: 100vh;
}
100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
}
}
@-webkit-keyframes checkboxUncheckedAnimation {
0% {
    width: 100vw;
    height: 100vh;
}
}
@keyframes checkboxUncheckedAnimation {
0% {
    width: 100vw;
    height: 100vh;
}
}


@-webkit-keyframes changeWidthOfElementAnimation {
50% {
    width: 0;
}
100% {
    width: 100%;
}
}


@keyframes changeWidthOfElementAnimation {
50% {
    width: 0;
}
100% {
    width: 100%;
}
}














/* Galeria de imagenes */
img {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}

body{
    
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #303030;
}
.body {
    padding-top:15px;
    padding-left: 80px;
    display: flex;
}

.ul {
    width: 80%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 1em;
    color: #ececec;
    transition: all 0.4s ease;
    border-radius: 1em;
    box-shadow: 1em 1em 2em #242424, -1em -1em 2em #3c3c3c, inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.ul .li {
    overflow: hidden;
    color: #ececec;
    transition: all 0.4s ease;
    border-radius: 1em;
    box-shadow: 0.8em 0.8em 1.6em #242424, -0.8em -0.8em 1.6em #3c3c3c, inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.ul .img {
    height: 45vh;
    transition: all 0.5s ease;
    transform: scale(1.4);
}

.ul .li:hover .img {
    transform: scale(1);
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(1.1);
    transition: all 0.5s ease;
    pointer-events: none;
}

.activo {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

/* Button de cerrar las imagenes de la galeria */
.cerrar {
    width: 5em;
    height: 3em;
    color: white;
    background: red;
    opacity: 0.7;
    margin: 0 0 1em;
    transition: all 0.4s ease;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 1em #242424, -0.5em -0.5em 1em , inset 0 0 0 transparent, inset 0 0 0 transparent;
    cursor: pointer;
}

.cerrar:hover {
    color: #ececec;
    transition: all 0.4s ease;
    border-radius: 1em;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.1em 0.1em 0.1em #242424;
}

/* Imagenes de la galeria en formato Original*/
img.grande {
    max-width: 450px;
    max-height: 500px;
    background: lightblue;
    color:#ececec;
    border-radius: 1em;
    box-shadow: 1em 1em 2em #242424, -1em -1em 2em #3c3c3c, inset 0 0 0 transparent, inset 0 0 0 transparent;
}



#titulo{
    margin-bottom: 100px;
    max-width: 500px;
    text-decoration: none;
    font-size: 50px;
    color: white;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 1em 1em 2em #242424, -1em -1em 2em #3c3c3c, inset 0 0 0 transparent, inset 0 0 0 transparent;

}

@media screen and (max-width:700px){
    #titulo{
        font-size: 30px;
    }
}